@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
::selection{
  color: rgb(7, 46, 73);
  background: #fff;
}
nav {
  position: fixed;
  background: rgb(10, 25, 33);
  width: 100%;
  padding: 10px 0;
  z-index: 12;
}
nav .menu {
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.menu .logo a {
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}



.menu ul {
  display: inline-flex;
}
.menu ul li {
  list-style: none;
  margin-left: 7px;
}
.menu ul li:first-child {
  margin-left: 0px;
}
.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.7s ease;
}
.menu ul li a:hover {
  background: #fff;
  color: black;
  font-size: 25px;

}
body {
  text-align: center;
  background-color: rgb(6, 39, 58);
}

.center .sub_title {
  color: #fff;
 text-align: center;
font-size: 25px;
  font-weight: 600;
  padding-left: 100pt;
  padding-right: 100pt;
  margin-top: 60px;
  margin-bottom: 50px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;

}


#colage {
  color: #fff;
  font-size: 20pt;
  font-weight: 600;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#colage1{
    color: #fff;
    font-size: 20pt;
    font-weight: 600;
    text-align: center;
    padding-top: 10pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}

#colage2{
    color: #fff;
    font-size: 20pt;
    font-weight: 600;
    text-align: center;
    padding-top: 10pt;
    padding-bottom: 50pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}
#uo1 {
    width: 100px;
    height: 100px;
    text-align: center;
    margin-bottom: 10px;

  }
  #uo {
    width: 125px;
    height: 125px;
    text-align: center;
  }
  

  #UOITC{
    color: #fff;
    font-size: 15pt;
    font-weight: 600;
    text-align: center;
    padding-bottom: 30px;


}
#cover33 img{
  margin-top: 150px;
  width: 40%;
  border-radius: 20px;
}
